/** @format */

@charset "UTF-8";
/* CSS Document */

/* ----- THANKS FOR CHECKING OUT MY HAND WRITTEN STYLE SHEETS -----*/

/* -------------------------- BODY --------------------------
---------------------------------------------------------- */

html {
  background: linear-gradient(180deg, #e0e7f2 0%, #ffffff 100%) center top fixed;
}

body {
  font: 62.5% Avenir Next, Avenir, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color: #90a4bc;
  background: url(../imgs/bg.svg) fixed;
  text-align: center;
}

/* ---- TEXT ------*/

p {
  font-size: 1.2rem;
  line-height: 170%;
}

a {
  text-decoration: none;
  color: #39d5cb;
  font-weight: 700;
  font-size: 1.2rem;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
}

a:hover {
  color: #e4416f;
}

h1 {
  font-family: 'Shrikhand', Georgia, serif;
  font-size: 4.2rem;
  letter-spacing: 3px;
  line-height: 110%;
  color: #ffffff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

h1.teal {
  text-shadow: none;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #122e51;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 110%;
  color: #39d5cb;
  margin: 1rem 0 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  color: #cdd7e4;
  margin: 1rem 0 0.5rem;
}

/* ---- COLORS ------*/

.blue {
  color: #122e51;
}
.pink {
  color: #e4416f;
}
.teal {
  color: #39d5cb;
}
.yellow {
  color: #f4fd7b;
}
.white {
  color: #ffffff;
}
.dark {
  color: #90a4bc;
}
.grey {
  color: #e8ecf2;
}
.bg {
  color: #e0e7f2;
}

/* colorbar */

.colorbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 0;
  height: 4px;
  width: 100%;
  background: #122e51;
  z-index: 10;
}
.bar_blue,
.bar_pink,
.bar_teal,
.bar_yellow {
  width: 12.5%;
}

.bar_blue {
  background: #122e51;
}
.bar_yellow {
  background: #f4fd7b;
}
.bar_pink {
  background: #e4416f;
}
.bar_teal {
  background: #39d5cb;
}

/* ---------------- BREAKS ------------------- */

.break {
  position: relative;
  width: 85%;
  z-index: 2;
  max-width: 1080px;
  margin: 8rem auto;
  box-shadow: none;
}

.break img.clientLogos {
  margin-top: 3rem;
  width: 960px;
}

.break p {
  margin-top: 0.5rem;
}

.break.top {
  padding: 30vh 0 30vh;
  margin: 0 auto;
}

.break.logos {
  margin-bottom: 14rem;
}
.break.something {
  margin-bottom: 13rem;
}
.break.funny {
  margin-top: 14rem;
}
.break.fam {
  margin-top: 13rem;
  margin-bottom: 12rem;
}
.break.abyss {
  margin-top: 14rem;
}
.break.end {
  margin-top: 14rem;
  margin-bottom: 10rem;
}

/* ---------------- SECTION ------------------- */

.section {
  position: relative;
  padding: 10rem 0;
  margin: 5rem 0;
  width: 100%;
  height: 45rem;
  background: url(../imgs/rodio.jpg) center / cover;
  box-shadow: 0 25px 50px -15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.description {
  position: absolute;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem 2rem;
  width: 90vw;
  max-width: 28rem;
  text-align: left;
}

.description h2 {
  margin-bottom: -0.5rem;
}

.description p {
  font-size: 1rem;
  margin-top: 1rem;
}

/* ----- colors ----- */

.section.rodio .description h2 {
  color: #1a9cdb;
}

.section.rocket .description h2 {
  color: #471e3f;
}

.section.bnbfinder .description h2 {
  color: #cc555b;
}

.section.timebomb .description h2 {
  color: #f00965;
}

.section.amhappy .description h2 {
  color: #304d58;
}

.section.abm .description h2 {
  color: #e14282;
}

.section.puppy .description h2 {
  color: #57586d;
}

.section.guarded .description h2 {
  color: #4f5689;
}
