/** @format */

@charset "UTF-8";
/* CSS Document */

/* ----- THANKS FOR CHECKING OUT MY STYLE SHEETS :P -----*/

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  font: 62.5% Avenir Next, Avenir, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  background: url('../imgs/bg.svg') fixed center center,
    linear-gradient(-45deg, #000, #063341, #000) no-repeat fixed;
}

@media (max-width: 425px) {
  body {
    background-color: #063341;
  }
}

/* ---- TEXT ------*/

p {
  font-size: 1rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.9);
}

a {
  text-decoration: none;
  color: #39d5cb;
  font-weight: 700;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
}

a:hover {
  color: #e4416f;
}

h1 {
  font-family: 'Pacifico', 'Shrikhand', Georgia, serif;
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 110%;
  color: #ffffff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

h1.teal {
  text-shadow: none;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 110%;
  color: #39d5cb;
  margin: 1rem 0;
}

h4 {
  color: #39d5cb;
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  padding: 0.25rem 0 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(6, 50, 65, 1);
}

h6 {
  font-size: 1.3rem;
  font-weight: bold;
  opacity: 0.75;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-family: Avenir Next, Avenir, sans-serif;
    letter-spacing: -1px;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 2rem;
  }
}

/* ---- COLORS ------*/

.blue {
  color: #122e51;
}
.pink {
  color: #e4416f;
}
.teal {
  color: #39d5cb;
}
.yellow {
  color: #f4fd7b;
}
.white {
  color: #ffffff;
}
.dark {
  color: #90a4bc;
}
.grey {
  color: #e8ecf2;
}
.bg {
  color: #e0e7f2;
}

/* colorbar */

.colorbar {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  height: 5px;
  width: 100%;
  background: #063341;
  z-index: 10;
}
.bar_blue,
.bar_pink,
.bar_teal,
.bar_yellow {
  width: 12.5%;
}

.bar_blue {
  background: #073f50;
}
.bar_yellow {
  background: #f4fd7b;
}
.bar_pink {
  background: #e4416f;
}
.bar_teal {
  background: #39d5cb;
}
