/** @format */

@charset "UTF-8";
/* CSS Document */

/* ----- THANKS FOR CHECKING OUT MY HAND WRITTEN STYLE SHEETS -----*/

/* ------------------- BREAKPOINTS --------------------------
---------------------------------------------------------- */

/* IPAD --------------------- */

@media (max-width: 1024px) {
  html {
    background: #e0e7f2;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: normal;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.1rem;
  }

  .break.top {
    padding: 8rem 0 0;
  }
  img.downarrow {
    margin-bottom: 0;
  }

  .section {
    height: 23rem;
  }
  .info {
    max-width: 80vw;
  }
  .rodio .info,
  .rocket .info,
  .bnbfinder .info,
  .timebomb .info,
  .amhappy .info,
  .abm .info,
  .puppy .info,
  .forfun .info {
    top: 19rem;
    left: 10vw;
  }

  .break {
    margin-bottom: 3rem !important;
    text-align: center !important;
  }
  .break.logos {
    margin-top: 16rem;
  }
  .break.something {
    margin-top: 12rem;
  }
  .break.accomplishments {
    margin-top: 18rem;
  }

  .timebomb .info {
    bottom: -13rem;
  }
  .break.funny {
    margin-top: 17rem;
  }

  .amhappy .info {
    bottom: -13rem;
  }
  .break.fam {
    margin-top: 16rem;
  }

  .break.things {
    margin-top: 20rem;
  }

  .puppy .info {
    bottom: -8rem;
  }
  .break.abyss {
    margin-top: 13rem;
  }

  .forfun .info {
    bottom: -10rem;
  }
  .break.end {
    margin-top: 16rem;
  }

  .intro {
    padding: 4.5rem 3rem 2rem;
  }

  .end {
    padding: 3rem 2rem;
  }

  ul.tweets {
    display: block;
  }
  ul.tweets li {
    font-size: 1.2rem;
  }
}

/* IPAD MINI --------------------- */

@media (max-width: 769px) {
  .timebomb .info {
    bottom: -15rem;
  }

  .break.something {
    margin-top: 14rem;
  }
  .break.something {
    margin-top: 14rem;
  }
  .break.accomplishments {
    margin-top: 20rem;
  }
  .break.funny {
    margin-top: 18rem;
  }

  .amhappy .info {
    bottom: -13rem;
  }
  .break.fam {
    margin-top: 17rem;
  }

  .puppy .info {
    bottom: -10rem;
  }
  .break.abyss {
    margin-top: 13rem;
  }
}

/* ANDROID --------------------- */

@media (max-width: 421px) {
  body {
    background-image: none;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }

  .section {
    height: 10rem;
  }
  .info {
    max-width: 85vw;
  }
  .rodio .info,
  .rocket .info,
  .bnbfinder .info,
  .timebomb .info,
  .amhappy .info,
  .abm .info,
  .puppy .info,
  .forfun .info {
    top: 19rem;
    left: 7.5vw;
  }

  .break.logos {
    margin-top: 24rem;
  }
  .break.something {
    margin-top: 19rem;
  }
  .break.accomplishments {
    margin-top: 31rem;
    display: block;
  }
  .achievement {
    margin: 1rem 0;
  }

  .timebomb .info {
    bottom: -25rem;
  }
  .break.funny {
    margin-top: 29rem;
  }

  .amhappy .info {
    bottom: -20rem;
  }
  .break.fam {
    margin-top: 23rem;
  }
  .break.things {
    margin-top: 32rem;
  }

  .puppy .info {
    bottom: -19rem;
  }
  .break.abyss {
    margin-top: 23rem;
  }

  .forfun .info {
    bottom: -18rem;
  }
  .break.end {
    margin-top: 24rem;
  }
}

/* IPHONE --------------------- */

@media (max-width: 376px) {
  h1 {
    font-size: 2rem;
  }
  .break.logos {
    margin-top: 28rem;
  }
  .break.something {
    margin-top: 22rem;
  }
  .break.accomplishments {
    margin-top: 35rem;
  }
  .timebomb .info {
    bottom: -27rem;
  }
  .break.funny {
    margin-top: 31rem;
  }

  .amhappy .info {
    bottom: -23rem;
  }
  .break.fam {
    margin-top: 26rem;
  }
  .break.things {
    margin-top: 35rem;
  }
}
