/** @format */

@charset "UTF-8";
/* CSS Document */

.dance {
  grid-template-areas:
    'dance1 dance1 dance1 dance1 danceA danceA'
    'dance2 dance2 dance2 dance2 dance2 dance2';
}

.dance1 {
  grid-area: dance1;
}
.dance2 {
  grid-area: dance2;
}
.danceA {
  grid-area: danceA;
}

@media (max-width: 1024px) {
  .dance {
    grid-template-columns: 1fr;
    grid-template-areas:
      'danceA'
      'dance1'
      'dance2';
  }

  .danceA {
    text-align: left;
  }
}
