/** @format */

@charset "UTF-8";
/* CSS Document */

.rkt {
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'rkt1 rkt1 rkt1 rkt1 rktA rktA'
    'rkt2 rkt2 rkt2 rkt3 rkt3 rkt3'
    'rkt4 rkt4 rkt4 rktB rktB rktB'
    'rkt4 rkt4 rkt4 rktC rktC rktC';
}
.rktA {
  grid-area: rktA;
}
.rktB {
  grid-area: rktB;
  padding-top: 3rem;
}
.rktC {
  grid-area: rktC;
}

.clients {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.clients img {
  box-shadow: none;
}

.rkt1 {
  grid-area: rkt1;
}
.rkt2 {
  grid-area: rkt2;
}
.rkt3 {
  grid-area: rkt3;
}
.rkt4 {
  grid-area: rkt4;
}

/* breakpoints ========== */

@media (max-width: 1024px) {
  .rkt {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'rktA rktA'
      'rkt1 rkt1'
      'rkt2 rkt3'
      'rkt4 rktB'
      'rkt4 rktC';
  }

  .clients {
    padding: 0;
    box-shadow: none;
  }
}

@media (max-width: 640px) {
  .rkt {
    grid-template-columns: 1fr;
    grid-template-areas:
      'rktA'
      'rkt1'
      'rkt2'
      'rkt3'
      'rktB'
      'rktC'
      'rkt4';
  }
  .rktB {
    padding-top: 0;
  }

  .clients {
    padding: 0 1rem 2rem;
  }
}
