@charset "UTF-8";
/* CSS Document */

/* ----- THANKS FOR CHECKING OUT MY HAND WRITTEN STYLE SHEETS -----*/

/* ---------------------- SECTIONS --------------------------
---------------------------------------------------------- */

/* --- intro --- */

.intro,
.end {
  background: #ffffff;
  border-radius: 1.75rem;
  box-shadow: 0 35px 60px -25px rgba(0, 0, 0, 0.04);
}

.intro {
  padding: 4.5rem 6rem 3rem;
}

.end {
  padding: 4.5rem 9rem;
  margin-bottom: 5rem;
}

.intro img.downarrow {
  margin-top: 2.5rem;
}

.intro img.logo {
  margin-top: -15rem;
}

.intro h1 {
  margin-bottom: 1rem;
}

/* ---- RODIO ---- */

.section.rodio {
  background: url(../imgs/rodio.jpg) center / cover;
}

.rodio .description {
  top: -5rem;
  left: 17%;
}

/* ---- ClIENTS ---- */

.logos img {
  margin-top: 4rem;
}

.section.rocket {
  background: url(../imgs/rocket.jpg) center / cover;
}

.rocket .description {
  top: -6rem;
  left: 13%;
}

/* ---- BNBFINDER ---- */

.section.bnbfinder {
  background: url(../imgs/bnbfinder.jpg) center / cover;
}

.bnbfinder .description {
  top: -7.5rem;
  right: 9%;
}

/* ---- achievements ---- */

.break.achievements {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem 3rem;
}

.achievements h3 {
  margin: 2rem 0 1rem;
}

.titleLink {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}

.titleLink a {
  font-family: "Sen", Avenir Next, sans-serif;
  padding-left: 2rem;
}

/* ---- TIMEBOMB ---- */

.section.timebomb {
  background: url(../imgs/timebomb.jpg) center / cover;
}

.timebomb .description {
  bottom: -8rem;
  right: 20%;
}

/* tweets */

.break img.lol {
  width: 50px;
  margin-top: 1rem;
  margin-bottom: -2.5rem;
}

ul.tweets {
  background: #fff;
  padding: 3rem 3rem 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-gap: 2.5rem;
  text-align: left;
  border-radius: 0.7rem;
  box-shadow: 0 35px 60px -25px rgba(0, 0, 0, 0.03);
}

ul.tweets li {
  font-family: Georgia, serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 170%;
  padding: 2rem 0;
  margin: 1rem 0;
  border-top: 2px solid #e0e7f2;
  justify-self: space-evenly;
}

/* ---- AM HAPPY SOAP ---- */

.section.amhappy {
  background: url(../imgs/amhappy.jpg) center / cover;
}

.amhappy .description {
  bottom: -5rem;
  left: 30%;
}

/* ---- A BEAUTIFUL MESS ---- */

.section.abm {
  background: url(../imgs/abm.jpg) center / cover;
}

.abm .description {
  top: -6rem;
  right: 7%;
}

/* music */

/* ---- PUPPY WISE ---- */

.section.puppy {
  background: url(../imgs/puppy.jpg) center / cover;
}

.puppy .description {
  bottom: -7rem;
  left: 14%;
}

/* ---- FOR FUN ---- */

.section.forfun {
  background: url(../imgs/forfun.jpg) center / cover;
}

.forfun .description {
  bottom: -6rem;
  right: 16.5%;
}

/* ------------------- END ------------------------
------------------------------------------------ */

.break img.ghost {
  width: 50px;
  position: absolute;
  top: -1.75rem;
  left: 50%;
  margin-left: -25px;
}

/* footer */

.footer {
  background: #122e51;
  margin-bottom: 0;
  padding: 1rem 2rem;
}

ul.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
}

ul.contact img {
  margin: 0;
}

ul.contact li {
  padding: 1rem 1.5rem;
}

ul.contact li a p {
  color: #90a4bc;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
}

ul.contact li a:hover p {
  color: #e4416f;
}

.footer h4 {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.2);
}
