/** @format */

@charset "UTF-8";
/* CSS Document */

.tmb {
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'tmbA tmbA tmb1 tmb1 tmb1 tmb1'
    'tmb2 tmb2 tmb2 tmb2 tmb2 tmb2';
}

.tmbA {
  grid-area: tmbA;
  text-align: right;
  padding: 2rem 4rem;
}

.tmb1 {
  grid-area: tmb1;
}

.tmb2 {
  grid-area: tmb2;
}

/* breakpoints */

@media (max-width: 1024px) {
  .tmb {
    grid-template-columns: 1fr;
    grid-template-areas:
      'tmbA'
      'tmb1'
      'tmb2';
  }

  .tmbA {
    text-align: left;
    padding: 0 1rem;
  }
}

@media (max-width: 640px) {
  .tmbA {
    padding: 0 1rem;
  }
}
