@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 6, 51, 65;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      -45deg,
      #000000 -40%,
      #063341 52%,
      #000000 100%
    )
    fixed center 0 / 100% 100%;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-pacifico), cursive;
}

h1 {
    font-family: var(--font-pacifico), cursive;
}

h2, h3, h4, h5, h6 {
    font-family: inherit;
}
